<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    <title>{% block title %}Visularity{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extrahead %}{% endblock extrahead %}
</head>
<body>

{% block body %}

{% endblock body %}

<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-1.7.1.min.js') }}"></script>

{% block extrajs %}

{% endblock extrajs %}

</body>
</html>