{% extends "base.html" %}

{% block title %}Submit some text - {{ super() }}{% endblock title %}

{% block body %}
<div class='container'>

    <div id="messages">
        {% for message in get_flashed_messages() %}
        <div class="message">{{ message }}</div>
        {% endfor %}
        {% block messages %}
        <div class="message subscribing">Subscribing to channel...</div>

        {% endblock messages %}
    </div>

    <div class="content">

        <h2>Submit a sentence.</h2>
        <h2>Try a statement or fact with a mixture of nouns, verbs, and adjectives.</h2>
        <h2>Examples:</h2>
        <h3><ul>
            <li>The subway was late so I ran through the crowded streets to arrive at the meeting on time.</li>
            <li>Some thoughtful people think good programming is like good writing.</li>
            <li>The moon is the only extraterrestrial body that has ever been visited by humans.</li>
        </ul>
        </h3>
        <form action="" method="GET">
            <!--<label for="id_text">Submit a sentence or two.</label>-->
            <textarea rows="4" cols="40" id="id_text" name="text" disabled="disabled"></textarea>
            <input type="submit" name="submit" id="id_submit" value="Submit" disabled="disabled">
        </form>

        <h2>Submitted items</h2>

        <div id="submitted">
            <ul>

            </ul>
        </div>
    </div>
</div>

{% endblock body %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/libs/hookbox.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    function addToSubmitted(msg) {
        $('#submitted ul').prepend('<li class="submitted">Submitted: ' + msg + '</li>');
    }

    function addToCalculated(msg) {
        $('#submitted ul').prepend('<li class="calculated">Calculated: ' + msg + '</li>');
    }

    function showMessage(msg) {
        $('#messages').prepend('<div class="message">' + msg + '</div>');
    }

    function clearMessages() {
        $('#messages').empty();

    }

    function submit_text() {
        var submitted_text = $('#id_text');
        if (submitted_text.val().length > 20) {
            $.ajax({url:"{{ url_for('submit_text') }}",
                type:"POST",
                data:{ "text":submitted_text.val() }
            })
                    .done(function (data) {
                        addToSubmitted(submitted_text.val());
                        submitted_text.val('');
                    })
                    .error(function (request, textStatus, error) {
                        showMessage("Unable to submit. Please try again.");
                    });
        }
        else {
            showMessage("Text is too short. Please add a bit more and try again.");
        }
    }

    $(function () {

        $('#id_submit').click(function (e) {
            clearMessages();
            submit_text();
            e.preventDefault();
        });

        $("#id_text").keypress(function(event) {
            if(event.which == 13) {
                submit_text();
            }
        });

        // connect to the hookbox server, running locally on port 8001
        var hookbox_server = 'http://{{ hookbox_ip }}';
        conn = hookbox.connect(hookbox_server + ':8001/');

        // once subscribed, listen for new messages being published
        // to the channel and display them in the output div
        conn.onSubscribed = function (channel_name, subscription) {
            console.log("Subscribed");
            $("#id_text").prop("disabled", false);
            $("#id_submit").prop("disabled", false);
            $("#messages > .subscribing").removeClass('subscribing').addClass('subscribed').text('Subscribed');

            subscription.onPublish = function (frame) {
                addToCalculated(frame.payload);

            };
        };

        // subscribe to the channel
        var hookboxChannel = '{{ hookbox_channel }}';
        conn.subscribe(hookboxChannel);
    });
</script>
{% endblock extrajs %}
