{% extends "base.html" %}

{% block title %}Visualize - {{ super() }}{% endblock title %}

{% block extrahead %}
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v2.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pack.css') }}"/>
{% endblock extrahead %}

{% block body %}
        <button id="refresh">Refresh</button>

<h1>Similarity Scores</h1>

<div id="similarity-scores"></div>

<h1>Similarity Visualization</h1>

<h2>Hierarchical</h2>
<div id="chart-hcluster"></div>

<h2>Affinity Propagation</h2>
<div id="chart-apcluster"></div>

<h2>Dendrogram</h2>
<div id="chart-dcluster"></div>

{% endblock body %}

{% block extrajs %}
<script type="text/javascript" src="{{ url_for('static', filename='js/hookbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pack.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cluster.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vis.js') }}"></script>
<script type="text/javascript">
    function refresh() {
        visualize_flat("{{ url_for('cluster', type='hcluster') }}", "#chart-hcluster");
        visualize_flat("{{ url_for('cluster', type='apcluster') }}", "#chart-apcluster");
        visualize_dendro("{{ url_for('cluster', type='dcluster') }}", "#chart-dcluster");
        show_scores("{{ url_for('similarity_scores') }}", "#similarity-scores");
    }

    $(document).ready(function () {
        $("#refresh").on("click", function (event) {
            event.preventDefault();
            refresh();
        });

//        hookbox.logging.get('net.protocols.rtjp').setLevel(hookbox.logging.DEBUG);
        var hookbox_server = 'http://{{ hookbox_ip }}';
        conn = hookbox.connect(hookbox_server + ':8001/');

        conn.onSubscribed = function (channel_name, subscription) {

            subscription.onPublish = function (frame) {
                console.log("frame.payload was " + frame.payload);
                refresh();
            };

        };

        // subscribe to the channel
        var hookboxChannel = '{{ hookbox_channel }}';
        conn.subscribe(hookboxChannel);
    });
</script>
{% endblock extrajs %}
