{% extends "base.html" %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pack.css') }}"/>
{% endblock extrahead %}

{% block body %}
<div class="centered-container">

    <div id="messages">
        {% for message in get_flashed_messages() %}
        <div class="message">{{ message }}</div>
        {% endfor %}
        {% block messages %}
        <div class="message subscribing">Subscribing to channel...</div>

        {% endblock messages %}
    </div>

    <div class="content">

        {% if server_address %}
        <div class="banner">&raquo; Visit <span class="highlight">{{ server_address }}</span> to submit text.</div>
        {% endif %}

        <button id="refresh">Refresh</button>

        <h1>Similarity Scores</h1>

        <div id="similarity-scores"></div>

        <h1>Similarity Visualization</h1>

        <h2>Hierarchical</h2>

        <div id="chart-hcluster"></div>

        <h2>Affinity Propagation</h2>

        <div id="chart-apcluster"></div>

        <h2>Dendrogram</h2>

        <div id="chart-dcluster"></div>
    </div>
</div>

{% endblock body %}

{% block extrajs %}
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/d3.v2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/hookbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pack.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cluster.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vis.js') }}"></script>
<script type="text/javascript">
    function refresh() {
        visualize_flat("{{ url_for('serve_cluster', type='hcluster') }}", "#chart-hcluster");
        visualize_flat("{{ url_for('serve_cluster', type='apcluster') }}", "#chart-apcluster");
        visualize_dendro("{{ url_for('serve_cluster', type='dcluster') }}", "#chart-dcluster");
        show_scores("{{ url_for('serve_similarity_scores') }}", "#similarity-scores");
    }

    $(document).ready(function () {
        $("#refresh").on("click", function (event) {
            event.preventDefault();
            refresh();
        });

//        hookbox.logging.get('net.protocols.rtjp').setLevel(hookbox.logging.DEBUG);
        var hookbox_server = 'http://{{ hookbox_ip }}';
        conn = hookbox.connect(hookbox_server + ':8001/');

        conn.onSubscribed = function (channel_name, subscription) {
            console.log("Subscribed");
            $("#messages > .subscribing")
                    .removeClass('subscribing')
                    .addClass('subscribed')
                    .text('Subscribed')
                    .delay(2000)
                    .remove();

            subscription.onPublish = function (frame) {
                console.log("frame.payload was " + frame.payload);
                refresh();
            };

        };

        // subscribe to the channel
        var hookboxChannel = '{{ hookbox_channel }}';
        conn.subscribe(hookboxChannel);
    });
</script>
{% endblock extrajs %}
